In [1]:
import os
import nsfg
import pandas as pd

In [2]:
df = nsfg.ReadFemPreg()

In [3]:
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [4]:
df.howpreg_n.value_counts().head()

7.0    31
5.0    28
6.0    26
8.0    23
4.0    22
Name: howpreg_n, dtype: int64

In [5]:
df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [6]:
df.columns[1]

'pregordr'

In [8]:
def MakePregMap(df):
    d = defaultdict(list)
    for index, caseid in df.caseid.iteritems():
        d[caseid].append(index)
    return d

In [9]:
preg_map = MakePregMap(df)

In [10]:
caseid =10229
indices = preg_map[caseid]
df.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1])

In [11]:
import os
os.getcwd()
os.chdir("/Users/ptero793/Desktop/think_stats/ThinkStats2/school_seg_sample")

In [12]:
race = pd.read_excel("1_school_diversity_SAMPLE.xlsx")

In [13]:
race.head()

,Year,NCESSCH,LEA ID,LEA ID (CEPA),District Name,District Name (CEPA),School Name,State,City,ZIP,...,Asian,Am. Ind.,Pacific Isl.,Two/Multiple Races,Entropy,Similarity,Math Proficiency Lower Bound,Math Proficiency Upper Bound,Reading Proficiency Lower Bound,Reading Proficiency Upper Bound
0,2000,10000201705,100002,100002,ALABAMA YOUTH SERVICES,ALABAMA YOUTH SERVICES,WALLACE SCH-MT MEIGS CAMPUS,ALABAMA,MOUNT MEIGS,36057,...,0,1,NaN,NaN,0.425117,1.000000,NaN,NaN,NaN,NaN
1,2000,10000500870,100005,100005,ALBERTVILLE CITY,ALBERTVILLE CITY,ALABAMA AVENUE MIDDLE SCHOOL,ALABAMA,ALBERTVILLE,35950,...,3,1,NaN,NaN,0.299402,0.998313,NaN,NaN,NaN,NaN
2,2000,10000500871,100005,100005,ALBERTVILLE CITY,ALBERTVILLE CITY,ALBERTVILLE HIGH SCHOOL,ALABAMA,ALBERTVILLE,35950,...,3,1,NaN,NaN,0.220525,0.994174,NaN,NaN,NaN,NaN
3,2000,10000500879,100005,100005,ALBERTVILLE CITY,ALBERTVILLE CITY,EVANS ELEMENTARY SCHOOL,ALABAMA,ALBERTVILLE,35950,...,1,0,NaN,NaN,0.260416,0.995252,NaN,NaN,NaN,NaN
4,2000,10000500886,100005,100005,ALBERTVILLE CITY,ALBERTVILLE CITY,MCCORD AVENUE ELEMENTARY SCHOOL,ALABAMA,ALBERTVILLE,35950,...,0,0,NaN,NaN,0.375823,0.993247,NaN,NaN,NaN,NaN

In [16]:
race.Year.value_counts()

2000    10
Name: Year, dtype: int64

In [23]:
race.size

340

In [24]:
race.columns

Index(['Year', 'NCESSCH', 'LEA ID', 'LEA ID (CEPA)', 'District Name',
       'District Name (CEPA)', 'School Name', 'State', 'City', 'ZIP',
       'Latitude', 'Longitude', 'Status', 'Locale', 'Lowest Grade',
       'Highest Grade', 'Magnet', 'Charter', 'Shared Time',
       'Free/Reduced Price Lunch Eligible',
       'Reported Race/Ethnicity Enrollment', 'White', 'Black', 'Hispanic',
       'Asian', 'Am. Ind.', 'Pacific Isl.', 'Two/Multiple Races', 'Entropy',
       'Similarity', 'Math Proficiency Lower Bound',
       'Math Proficiency Upper Bound', 'Reading Proficiency Lower Bound',
       'Reading Proficiency Upper Bound'],
      dtype='object')

In [29]:
race.rename(columns={'Reported Race/Ethnicity Enrollment':'enrollment'},inplace=True)

In [30]:
race.columns

Index(['Year', 'NCESSCH', 'LEA ID', 'LEA ID (CEPA)', 'District Name',
       'District Name (CEPA)', 'School Name', 'State', 'City', 'ZIP',
       'Latitude', 'Longitude', 'Status', 'Locale', 'Lowest Grade',
       'Highest Grade', 'Magnet', 'Charter', 'Shared Time',
       'Free/Reduced Price Lunch Eligible', 'enrollment', 'White', 'Black',
       'Hispanic', 'Asian', 'Am. Ind.', 'Pacific Isl.', 'Two/Multiple Races',
       'Entropy', 'Similarity', 'Math Proficiency Lower Bound',
       'Math Proficiency Upper Bound', 'Reading Proficiency Lower Bound',
       'Reading Proficiency Upper Bound'],
      dtype='object')

In [31]:
race.isnull().sum()

Year                                  0
NCESSCH                               0
LEA ID                                0
LEA ID (CEPA)                         0
District Name                         0
District Name (CEPA)                  0
School Name                           0
State                                 0
City                                  0
ZIP                                   0
Latitude                              4
Longitude                             4
Status                                0
Locale                                0
Lowest Grade                          0
Highest Grade                         0
Magnet                                0
Charter                               0
Shared Time                          10
Free/Reduced Price Lunch Eligible     1
enrollment                            0
White                                 0
Black                                 0
Hispanic                              0
Asian                                 0
Am. Ind.                              0
Pacific Isl.                         10
Two/Multiple Races                   10
Entropy                               0
Similarity                            0
Math Proficiency Lower Bound         10
Math Proficiency Upper Bound         10
Reading Proficiency Lower Bound      10
Reading Proficiency Upper Bound      10
dtype: int64

In [40]:
race.Entropy.value_counts().sort_index()

0.000000    1
0.070645    1
0.134038    1
0.220525    1
0.260416    1
0.299402    1
0.318417    1
0.375823    1
0.425117    1
0.468678    1
Name: Entropy, dtype: int64

In [35]:
race.State.value_counts()

ALABAMA    10
Name: State, dtype: int64

In [39]:
race.Status.value_counts()

1    10
Name: Status, dtype: int64

In [38]:
race['Lowest Grade'].value_counts()

TypeError: '<' not supported between instances of 'int' and 'str'

In [41]:
race.White.value_counts()

364    1
331    1
441    1
744    1
374    1
427    1
339    1
322    1
657    1
224    1
Name: White, dtype: int64